@use './colors.scss' as color;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: color.$bgColor;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}