@use '../../colors' as color ;

@mixin btnStyle{
    width: 90%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(114, 113, 113);

    padding-left:15px;

    font-size: 16px;

    color: rgb(82, 80, 80);
    cursor: pointer;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.loginAndSignup{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 16px;
        border-radius: 7px;
        background-color: color.$wColor;
        margin-top: 15%;


        width: 490px;

        flex-direction: column;
        gap: 30px;
        box-shadow: 1px 1px 4px 2px #eee;

        .heading{
            color: color.$mainColor;
            font-size:30px;
        }

        .switchBtn{
            display: flex;
            justify-content:center;
            align-items: center;
            gap: 70px;


            button{
                height: 30px;
                width: 120px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 15px;
                color:color.$textColor;
                background-color: #fff;

            }

            .active{
                background-color: color.$textColor;
                color: #fff;
            }
            
        }
        .inputs{
            width: 100%;
            .selection{
               @include btnStyle;
               border: none;
               outline: none;
               background-color: color.$bgColor;
               box-shadow: 1px 1px 2px 2px color.$bgColor;
                }


                .aboutCompany{
                   @include btnStyle;
                   height: 120px;
                   resize: none;
                   font-family: 'Roboto', sans-serif;
                   padding-top:10px; 
                   border: none;
                   outline: none;
                   background-color: color.$bgColor;
                   box-shadow: 1px 1px 2px 2px color.$bgColor;
                }
                .lctInput{
                    @include btnStyle;
                    border: none;
                    outline: none;
                    background-color: color.$bgColor;
                    box-shadow: 1px 1px 2px 2px color.$bgColor;
                    }
             

            form{
                display: flex;
                
                gap:20px;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                input{
                    width: 90%;
                    height: 40px;
                    border-radius: 4px;

                    padding-left:15px;

                    font-size: 16px;

                    color: rgb(82, 80, 80);
                    cursor: pointer;
                    border: none;
                    outline: none;
                    background-color: color.$bgColor;
                    box-shadow: 1px 1px 2px 2px color.$bgColor;
                
                }
                input[type='text']{
                    width: 40%;
                    margin: 0px 10px;
                }

                input[type ='submit']{
                    background-color: color.$textColor;
                    color: color.$wColor;
                    transition: all 0.4s ;
                    margin-top: 10px;
                    border: 1px solid color.$textColor;

                    &:hover{
                        color:color.$textColor;
                        background-color:#fff;
                        transition: all 0.4s;
                    }

                }
            }
           
        }

        .changeBtn{
            color: rgb(114, 114, 114);

            button{
                font-weight: 700;
                color: color.$mainColor;
                font-size: 15px;
                border: none;

                background-color: transparent;
                cursor: pointer;

            }

        }
    }


    


}