@use '../../colors' as color;

.profileEdit{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    form{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;

        width: 50%;
        background-color: color.$wColor;
        box-shadow: 1px 1px 2px 2px #eee;

        .edit_item{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4px;

            label{
                font-weight: 500;
                color: color.$textColor;
            }
            input{
                width: 100%;
                height: 50px;
                border: none;
                background-color: color.$bgColor;
                border-radius: 7px;
                padding-left:30px ;
                font-size: 17px;
            }
        }

        button{
            width: 100%;
            height: 50px;
            border-radius: 7px;
            background-color: color.$textColor;
            color: color.$wColor;
            font-size: 17px;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }
    }


    @media screen and (max-width:750px) {
        form{
            width: 70%;
            input{
            height: 40px;
        }
    }
    }
    @media screen and (max-width:750px) {
        form{
            width: 80%;
            input{
                font-size: 14px;
                height: 30px;
            }
        }
    }
}